[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
ExecStart=/home/orangepi/Projects/PyBot/.venv/bin/python /home/orangepi/Projects/PyBot/main.py
WorkingDirectory=/home/orangepi/Projects/PyBot
Restart=always
User=orangepi
Group=orangepi
Environment="PATH=/usr/bin:/usr/local/bin"

[Install]
WantedBy=multi-user.target

